body{
    margin: 0;
    padding: 0;
    font-family:Roboto, sans-serif;
    font-weight: normal;
    
}

/* body#homepage{
 background: black;   
} */

h1,h2,h3,h4,h5,h6{
    font-size: 40px;
    font-family: Roboto, sans-serif;
    line-height: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

header{
    color: white;
    background: #000;
}

.clearfix:after{
    content:"";
    display:table;
    clear: both;
}

#headerCon{
    max-width: 1240px;
    margin: 0 auto;
}

#logo{
    margin: 10px 0;
    display:block;
    float:left;
}

nav{
    float: right;
    margin: 20px 100px 19px 0;
    align-content: center;
}

nav ul{
    display: inline;
}

header nav ul li{
    display: inline-block;
    font-size: 32px;
    line-height: 37px;
}

header nav ul#menu li{
    margin: 0;
    padding:0 29px;
    text-align:center;
    border-top: solid 2px black;
    border-bottom: solid 3px black;
}

/* #menu li:hover{
    color:black;
    border-radius: 10px;
    background: white;
    border-color:white;
} */

header #menu li a:link{
    text-decoration:none;
    color: white;
}

#menu li a:visited{
    color: white;
}

#menu li a:hover{
    color: #999;
}

#menu li a:active{
    color:#666;
    border-bottom: solid 2px white;
}

header nav ul#social li{
    padding:0 17px;
    margin: 0;
    /* need to add image effect for hovering and clicking */
} 

#container{
    display:block;
    width: 876px;
    height: 558px;
    margin: 106px auto 70px;
    clear: both;
    /* border: solid 1px black;*/
    background-image:url('images/home_hero.jpg');
    background-size:100%;
}

hgroup{
    background: rgba(255,255,255,0.67);
    border: solid 2px black;
}

#left_arch hgroup{
    width: 360px;
    height: 412px;
    padding: 31px 38px 111px 21px;
}

#right_UIUX hgroup{
    width: 360px;
    height: 373px;
    padding: 70px 38px 111px 21px;
}

#left_arch{
    width: 423px;
    height: 558px;
    float: left;
    text-align: right;
}

#left_arch hgroup h2.home{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 118px;
    line-height: 141%;
}

#left_arch hgroup h4.home{
    font-family:Roboto, sans-serif;
    font-weight: normal;
    font-size: 85px;
    line-height: 145%;
}

#right_UIUX{
    width: 423px;
    height: 558px;
    float: right;
    text-align: left;
}

#right_UIUX hgroup h3{
    font-weight: bold;
    font-size: 120px;
    line-height: 155%;
}

#ux{
    text-indent: 131px;
}

#design{
    clear: both;
    text-align:center;
    position: relative;
    top: -80px;
    display:block;
    margin: 0;
    padding: 0;
    
}

#designbutton{
    padding: 35px 61px;
    background: #464646;
    color: white;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 166.4%;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

a#designbutton:link,
a#designbutton:visited{
    color:white;
}

a#designbutton:active{
    color: #464646;
    background: white;
    border: solid 2px black;

    /* text-decoration: underline;
    text-decoration-color: white; */
}

#recentPro.clearfix:before,
#recentPro.cerafix:after{
    content:"";
    display:table;
    clear:both;
    
}
#recent{
    display: block;
    margin-top:150px;
    background: #f2f0f0;
    margin-bottom: 55px;
}

#container2{
    width: 1088px;
    height: 470px;
    padding-top: 24px;
    padding-bottom: 59px;
    margin: 0 auto;

}

.headerLine{
    width: 100%;
    height: 1px;
    /* background: #ddd;
    border-bottom: solid 1px #fff; */
    background: #7d7d7d;
    position: relative;
    margin-bottom: 57px;
    margin-top: 13px;
    
    
}

.headerLine p{
    background: #f1f0f0;
    position: absolute;
    top: -8px;
    left: 50%;
    margin: 0px;
    margin-left: -150px;
    width: 300px;
    text-align: center;
    display: block;
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 0px;
}

.recentPro{
    display:block;
    width: 315px;
    height: 315px;
    float: left;
    background: #DDDADA;
    border: solid 1px #7d7d7d;
    
}

#box1{
    margin-right:34px;
}

#box2{
    margin:0 34.5px;
}

#box3{
    margin-left: 34px;
}

.recentPro figure{
    display:block;
    margin: 0px;
    width: 279px;
    height: 219px;
    padding:18px;
}

.recentPro img{
    width: 277px;
    height: 217px;
}

.recentPro figcaption{
    margin-top: 17px;
    font-size:14px;
    color:black;
    line-height: 153.2%;
}

#footer{
    display: block;
    margin: 0 auto;
    max-width: 1240px;
    font-size: 14px;
    color: #7d7d7d;
    margin-bottom:23px;
}

.footerline{
    height:1px;
    border-width: 0;
    background: #b8b4b4;

}

#footerL{
    display: block;
    float: left;
    margin-top: 23px;
    margin-left: 106px;
}

#footerR{
    display:block;
    float: right;
    margin-top: 23px;
    margin-right: 76px;
}
