/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lexend Exa');
html, body { height: 100%; }
body { margin: 0; font-family: 'Lexend Exa'; letter-spacing: 2px }
p { font-size: 10px; }
button { font-family: 'Lexend Exa'; letter-spacing: 2px }