<h1>HAO WU</h1>
<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutAlign="space-between">
<div fxLayout="column" fxFlex="30">
    <button mat-button style="background-color: bisque;" >ME...</button>
</div>
<div fxLayout="column" fxFlex="30">
    <p>What I always want to do is </p>
</div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between">

        <div fxLayout="column" fxFlex="30">
                <p>Let's see what we can create</p>
                <button mat-button>TOGETHER</button>
        </div>

    <div fxLayout="column" >
            <p>To create the space in my mind... </p>
            <img src="../../assets/img/flower.png">
</div>
</div>



<h4>THOSE</h4>
<p> little</p>
<button mat-button>DREAMS</button>
<img src="../../assets/img/flowingmarkethall_model.png">
<p>Purely interested in playing with these little stuff made in my dreams...</p>
<img src="../../assets/img/hex_model.png">
<button mat-button>JOURNEY... </button>
<h4>_ED&_ING</h4>
<p>What I did and who I am may cast light on my future...</p>

